@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
}

/* banner starts */

.banner_container {
    background-image: url('assets/Hero-bg.png');
    /* width: 1440px; */
    width: 100%;
    height: 652px;
    margin: 0 auto;
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .banner_image img {
    width: 173.03px;
    height: 228.9px;
} */

.banner_h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}

.banner_p {
    text-align: center;
}

/* .banner_button {
    width: 208px;
    height: 66px;
} */

.btn_banner {
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: black;
    color: white;
    width: 208px;
    height: 66px;
    border-radius: 8px;
}

/* banner ends */

/* web dev starts */

.web_dev_container {
    /* border: 2px solid red; */
    width: 1140px;
    height: 1700px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(241, 241, 255);
}

.web_dev_h2 {
    /* border: 2px solid blue; */
    /* margin-top: 80px; */
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    padding-top: 80px;
}

.web_dev_p {
    margin-top: 24px;
    text-align: center;
}

.web_dev_first {
    /* border: 2px solid rgb(98, 0, 255); */
    width: 946px;
    height: 336px;
    margin: 0 auto;
    margin-top: 48px;
    padding: 48px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    background-color: white;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
}

.first_content {
    /* border: 2px solid firebrick; */
    width: 70%;
    /* padding-right: calc(530px - 48px); */
}

.first_content h3 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 10.5px;
}

.first_content p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 44px;
}

.btn_learn {
    background: white;
    width: 171px;
    height: 47px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10.5px;
}

.first_img {
    /* border: 2px solid rgb(242, 255, 0); */
    width: 30%;
}

/* web dev ends */

/* inspiration starts */

.inspiration_container {
    /* border: 2px solid red; */
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.inspiration_container h2 {
    /* border: 2px solid blue; */
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

.inspiration_container p {
    /* border: 2px solid red; */
    text-align: center;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 400;
}

.yt_vdo {
    /* border: 2px solid gold; */
    padding: 32px;
}

/* inspiration ends */

/* current_target_container starts */

.current_target_container {
    /* border: 2px solid red; */
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.current_target_container h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

.current_target_container>p {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}

.card_box_container {
    display: flex;
    height: 299px;
    width: 1140px;
}

.card_box1 {
    /* border: 2px solid blue; */
    width: 33.33%;
    padding: 40px;
    border-radius: 16px;
}

.color_1 {
    background-color: rgb(255, 250, 240);
}

.color_2 {
    background-color: rgb(234, 241, 255);
    margin-left: 24px;
    margin-right: 24px;
}

.color_3 {
    background-color: rgb(255, 241, 241);
}

.card_box1 h4 {
    font-size: 24px;
    font-weight: 800;
}

.card_box1 p {
    font-size: 16px;
    font-weight: 400;
}

.card_box1 h5 {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 700;
}

/* current_target_container ends */

/* support starts */

.support_container {
    width: 1140px;
    height: 313px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-bottom: 100px;

    color: white;
    background-image: url(assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.support_container h1 {
    font-size: 32px;
    font-weight: 700;
}

.support_container p {
    font-size: 16px;
    font-weight: 400;
    /* margin-top: 16px; */
    margin-bottom: 18px;
}

.support_msg_box {
    /* border: 2px solid wheat; */
    display: flex;
}

/* .support_input{
    border: 2px solid aqua;
} */

.support_input_field {
    font-size: 16px;
    font-weight: 400;
    width: 548px;
    height: 57px;
    border-radius: 8px;
    padding-left: 20px;
}

/* .support_btn {
    border: 2px solid greenyellow;
} */

.btn_support_main {
    width: 120px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    margin-left: 16px;
}

/* support ends */

/* footer starts */

.footer_container {
    /* border: 2px solid red; */
    /* width: 1440px; */
    width: 100%;
    height: 100px;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background: rgb(239, 243, 253);
}

.footer_content {
    font-size: 20px;
    font-weight: 600;
}

.footer_icons {
    /* border: 2px solid red; */
    width: 157px;
    height: 36px;
    display: flex;
    justify-content: space-between;
}

/* footer ends */